#status {
    text-align: center;
}

.navbar-custom .navbar-brand,
.navbar-custom, .navbar .navbar-expand-lg {
    color: #C5C6C7;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.containerForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: border-box;
    align-self: center;
    align-content: space-between;
}

input.input-box, textarea {
    background-color: #C5C6C7;
}

.btn-primary:hover {
    background-color: #0B0C10;
    border-color: #66FCF1;
    color: #45A29E;
}

.optionselect {
    background-color: #C5C6C7;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #0B0C10;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #0B0C10;
}

.btn-primary, .btn-primary:visited {
    color: #C5C6C7;
    text-align: center;
    font-weight: bolder;
    padding: 0.7em 0.7em;
    background-color: #1F2833;
    border-color: #66FCF1;
}

.table-bordered {
    border: 0.3rem #0B0C10 wave;
}

.tableHeader {
    color: #66FCF1;
    font-weight: bold;
    text-align: center;
}

.dbData {
    color: #C5C6C7;
}

.navbar-custom {
    background-color: #1F2833;
}

.header3 {
    font-size: 2.2em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    padding: 0.5em;
    color: #4ed7d2;
}

.header4 {
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    padding: 1em 0 1em 1em;
}

.container {
    margin-left: 10px;
    margin-right: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
}

body {
    background-color: #1F2833;
    font-size: 0.9em;
    color: #C5C6C7;
}

a {
    color: #C5C6C7;
    font-weight: bold;
}

a:hover {
    color: #45A29E
}

html, body {
    width: 100%;
    height: 100%;
}
tml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,

table {
    border-collapse: collapse;
    border-spacing: 0;
}

form {
    width: 50%;
    height: 50%;
}
