<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="header">
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> Project IO </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/"> Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employees/list"> Employees </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects/list"> Projects </a>
            </li>
        </ul>
    </div>
</nav>

<div class="projectTable" th:fragment="projects">
    <h4> Current Projects </h4>
    <table>
        <thead>
        <tr>
            <th> Project Name </th>
            <th> Project State </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aProject : ${projectsList}">
            <td th:text="${aProject.name}"></td>
            <td th:text="${aProject.stage}"></td>
        </tr>
        </tbody>
    </table>
</div>
<br/>
<br/>
<div class="employeeTable" th:fragment="employees">
    <h4> Current Employees</h4>
    <table>
        <thead>
        <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Email </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employeesList}">
            <td th:text="${employee.firstName} "> </td>
            <td th:text="${employee.lastName} "> </td>
            <td th:text="${employee.emailAddress} "></td>
        </tr>
        </tbody>
    </table>
</div>
</html>