<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>New Project</title>

</head>

<body>
    <div class="container">
        <form action="/projects/save" th:object="${project}" method="POST">

            <input type="text" th:field="${project.name}" placeholder="Project Name">

            <select>
                <option th:value="NOTSTARTED" th:field="${project.stage}"> Not Started</option>
                <option th:value="INPROGRESS" th:field="${project.stage}"> In Progress</option>
                <option th:value="COMPLETED" th:field="${project.stage}"> Completed</option>
            </select>

            <textarea type="text" placeholder="Enter Project Description" th:field="${project.description}"></textarea>

            <button type="submit">Create Project.</button>
        </form>
    </div>
</body>
</html>
