<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>New Project</title>

</head>
<body>
    <div class="container">
        <form action="/employees/save" th:object="${employee}" method="POST">
            <input type="text" th:field="${employee.firstName}" placeholder="Employee's first name">
            <input type="text" th:field="${employee.lastName}" placeholder="Employee's last name">
            <input type="text" th:field="${employee.emailAddress}" placeholder="Employee's email">
            <button type="submit">Add Employee</button>
        </form>
    </div>
</body>
</html>