<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layouts :: header">
    <title> Add A New Employee </title>
</head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
    <form th:action="@{/employees/save}" th:object="${employee}" method="POST">
        <input type="text" th:field="${employee.firstName}" placeholder="Employee's first name">
        <input type="text" th:field="${employee.lastName}" placeholder="Employee's last name">
        <input type="text" th:field="${employee.emailAddress}" placeholder="Employee's email">
        <button type="submit">Add Employee</button>
    </form>
</div>
</body>
</html>